__pycache__/
*.py[cod]
.venv/
.env
checkpoints/*
logs/*
datasets/raw/*
datasets/processed/*
paper/paper_chinaxiv.pdf
!checkpoints/.gitkeep
!logs/.gitkeep
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep
